## Build generated
/.build
build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

#Project ignores
pods/
Pods/
CommonCrypto/*/module.map
zlib/*/module.map
Carthage/
Podfile.lock
App/Secrets/Config.xcconfig

#Fastlane ignores
fastlane/
Gemfile
Gemfile.lock
upload_dsym_results

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
GithubExplorer.xcodeproj/xcuserdata/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### Linux ###
*~
.fuse_hidden*
.Trash-*

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
